/* importing fonts  */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

/* universal style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.custom-padding {
  padding-left: 20%;
  padding-right: 20%;
}

.img-round {
  border-radius: 50%;
}

.thick-hr {
  border-bottom: 0.1px solid;
  padding: 0px;
  margin: 0px;
}
.thin-hr {
  border-bottom: 2px solid;
  padding: 0px;
  margin: 0px;
}

.padding-for-search {
  padding: 20px;
}

ul {
  list-style-type: none;
}

.grid-icon {
  background-color: #e6e6e6;
  border-radius: 50%;
  padding: 7px;
  border: none;
}

.grid-icon-list {
  background: transparent;
  border-radius: 50%;
  padding: 7px;
  border: none;
}

.custom-for-search {
  box-shadow: none;
}

.custom-width-for-2nd-navbar {
  height: 65px;
}

.custom-height-for-li {
  height: 100%;
}

.custom-for-nav-button-padding {
  padding-left: 0;
}

@media only screen and (max-width: 992px) {
  .custom-padding {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .custom-padding-for-second-nav {
    padding-left: 0;
  }
}

@media only screen and (max-width: 492px) {
  .custom-padding {
    padding-left: 4%;
    padding-right: 4%;
  }

  .custom-hidden {
    display: none;
  }
}
