/* importing fonts  */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

/* universal style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.custom-padding {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #fafafa;
}

.color-for-input {
  background-color: #fafafa;
}

.img-round {
  border-radius: 50%;
}

.thick-hr {
  border-bottom: 0.1px solid;
  padding: 0px;
  margin: 0px;
}
.thin-hr {
  border-bottom: 2px solid;
  padding: 0px;
  margin: 0px;
}

.padding-for-search {
  padding: 20px;
}

ul {
  list-style-type: none;
}

.btn-for-canvas {
  display: none;
}

.grid-icon {
  background-color: #e6e6e6;
  border-radius: 50%;
  padding: 7px;
  border: none;
}

.grid-icon-list {
  background: transparent;
  border-radius: 50%;
  padding: 7px;
  border: none;
}

.custom-for-search {
  box-shadow: none;
}

.custom-width-for-2nd-navbar {
  height: 65px;
}

.custom-height-for-li {
  height: 100%;
}

.custom-for-nav-button-padding {
  padding-left: 0;
}

.custom-class-for-flex {
  display: flex;
  flex-direction: column;
}

.custom-width-for-sortby-div {
  width: 40%;
}

.navbar-collapse.collapse {
  height: 100% !important;
}

.custom-class-for-text-of-explore {
  font-size: 20px;
}

.custom-height {
  height: 100% !important;
}

.custom-margin-for-button {
  margin-top: -17px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 18px;
  width: 125px;
  height: 35px;
}

.custom-text-size-of-title {
  font-size: 26px;
  text-align: left;
  letter-spacing: 0px;
  color: #414141;
}

.date-of-grid-element {
  text-align: center;
  letter-spacing: 0px;
  color: #414141;
}

.custom-margin-for-date {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 18px;
}

.btn-apply {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #f88634;
  border-radius: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-apply:hover {
  color: white;
  border-color: none;
}

.custom-for-center-button {
  text-align: center;
}

.custom-button-bg-color:hover {
  background: #f88634 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 3px;
  color: white;
}

.custom-padding-for-privacy-policy {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* ? css for list */
.custom-padding-for-list {
  padding-left: 30px;
  padding-right: 30px;
}

.custom-padding-for-stars {
  padding-left: 5px;
}

.custom-padding-for-time-and-deadline {
  padding-right: 20px;
}

.custom-text-size-of-title-for-list {
  font-size: 22px;
}

/* ! below code is for button fitting in image  */

.container {
  position: relative;
  width: 100%;
  padding: 0;
}

/* Make the image responsive */
/* .container img {
  width: 100%;
  height: 100%;
} */

/* Style the button and place it in the middle of the container/image */
.btn-custom {
  position: absolute;
  top: 14%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: none;
  cursor: pointer;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 18px;
  opacity: 0.5;
}

.btn-custom-for-heart {
  position: absolute;
  top: 55%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: none;
  cursor: pointer;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 0.5;
  padding: 10px;
}

.btn-custom-for-square {
  position: absolute;
  top: 80%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  border: none;
  cursor: pointer;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 0.5;
  padding: 10px;
}

.btn-hover:hover {
  opacity: 0.7;
  color: black;
}

.custom-div-for-btn {
  width: 17px;
  height: 17px;
  background-color: white;
}

/* css for home page for no mission found */
.custom-padding-for-contact {
  padding-left: 30px;
}

/* .custom-hidden{
  display: inline-block;
} */

.btn-login {
  outline: 1px solid #f88634;
  border-radius: 24px;
  color: #f88634;
}

.custom-height-for-no-mission {
  margin-top: 25%;
}

/* ! above code is for button fitting in image */

/* ! now the below css for voluntaring page */

.custom-for-volunteering-heading {
  font-size: 30px;
  color: #414141;
  text-align: left;
  font-weight: 100;
}

.custom-for-height-of-progress {
  height: 11px;
}

.custom-class-for-progress {
  background: #f88634 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.custom-for-volpage-btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #757575;
  border-radius: 25px;
}

.custom-p-f-button {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom-for-child-btn {
  width: 95%;
}

.custom-h-f-slideshow {
  height: 22%;
}

.custom-main-image {
  height: 90%;
}

.custom-btn-for-information {
  margin-bottom: -2px;
  background: none;
  border-bottom: 2px solid gray !important;
}

.custom-border {
  border: 1px solid gray !important;
}

.custom-volunteering {
  border-radius: 50%;
}

.custom-for-volunteering-per {
  width: 70px;
  height: 70px;
}

.custom-for-btn-for-vol {
  width: 15%;
  border: 1px solid lightgray !important;
}

.custom-for-text {
  font-weight: 100 !important;
  font-size: 32px;
}

.custom-for-btn-for-vol-bet {
  width: 70%;
  border: 1px solid lightgray !important;
}

.hr {
  border-bottom: 2px solid;
  padding-top: 40px;
  margin-bottom: 40px;
}

.custom-for-related-mission {
  padding-bottom: 60px;
}

.custom-fr-tab {
  padding: 20px;
}

.custom-for-p-of-intro {
  font-weight: 100;
}

.custom-for-document-btn {
  border: 1px solid lightgray;
  border-radius: 30px;
}

.custom-for-comments {
  border: 1px solid #b2b2b2 !important;
}

.custom-for-image {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.custom-for-height-for-comments {
  height: 400px;
}

/* ! now the above css for voluntaring page */

/* ? partition */

/* !now the below code is for storylisting page */

.custom-for-image-for-story {
  background-image: url(/images/story-listing.png);
  width: 100%;
  background-size: cover;
  height: 100%;
  /* object-fit: fill; */
  opacity: 0.87;
}

.btn-shareStory {
  background: transparent;
  border: 2px solid white;
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.btn-shareStory:hover {
  color: white;
  font: white;
}

.custom-for-padding {
  padding-top: 130px;
}

.custom-top-for-btn {
  top: 42%;
  left: 33%;
  opacity: 0;
}

.custom-top-for-btn:hover {
  top: 42%;
  left: 33%;
  opacity: 1;
}

.custom-for-image-for-overlay {
  opacity: 1;
}

.custom-for-image-for-overlay:hover {
  opacity: 0.4;
}

/* !now the above code is for storylisting page */

/* !image slider */

.image1 {
  object-fit: cover;
  width: 115px;
  height: 100px;
  cursor: pointer;
  opacity: 0.5;
  margin: 5px;
}

.image1:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

/* we have to keep slider as slider is using in javascript scroll */

#slider {
  flex-wrap: nowrap;
}

/* !image slider */

@media only screen and (max-width: 992px) {
  .custom-padding {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 769px) and (min-width: 768px) {
  .custom-for-nav-for-one-pixel {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .custom-padding-for-second-nav {
    padding-left: 0;
  }

  .custom-class-for-flex {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .custom-class-for-text-of-explore {
    font-size: 18px;
  }

  .custom-width-for-sortby-div {
    display: none;
    visibility: hidden;
  }

  .navbar-nav {
    width: 60%;
  }

  .li-for-canvas {
    padding: 10px !important;
  }

  .custom-for-nav-right {
    position: absolute !important;
    top: -0.7%;
    left: 60%;
  }

  .custom-for-first-nav {
    margin-top: 8px !important;
  }

  .custom-for-div {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .btn-for-canvas {
    display: inline;
    border: 1px solid;
  }

  .custom-for-padding {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 492px) {
  .custom-for-padding {
    padding-top: 40px;
  }

  .custom-for-nav-right {
    position: absolute !important;
    top: -0.7%;
    left: 65%;
  }

  .custom-padding {
    padding-left: 4%;
    padding-right: 4%;
  }

  .custom-hidden {
    display: none;
  }

  .custom-class-for-text-of-explore {
    font-size: 14px;
  }

  .custom-width-for-sortby-div {
    display: none;
    visibility: hidden;
  }

  .custom-text-size-of-title {
    font-size: 22px;
  }
}

/* !media query for volunteering page */
/* !media query for volunteering page */
/* !media query for volunteering page */

@media only screen and (max-width: 492px) {
  .custom-for-btn {
    flex-direction: column !important;
  }

  .custom-for-child-btn {
    width: 100%;
    margin: 10px;
  }

  .custom-for-btn-for-res {
    margin: 0;

    margin-top: 10px;
  }

  .custom-for-res-padding {
    margin-top: 30px;
  }
}
